.App {
  text-align: center;
  padding-top: 120px; /* Ajuste selon la nouvelle hauteur du header */
}
.App-header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #282c34;
  padding: 10px 0;         /* Réduit l'espace vertical */
  min-height: 60px;        /* Hauteur minimale plus petite */
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
/*titres*/
.page-title {
  font-size: 40px;        
  margin: 0;
}

.page-subtitle {
  font-size: 0.9em;        
  margin: 0;
}


.validate-btn {
  height: 20px;
  padding: 0 18px;
  border-radius: 0px;
  border: none;
  background: #ffd700;
  color: #181818;
  font-weight: 600;
  cursor: pointer;
  
}
.validate-btn:hover {
  background: #e6c200;
}

/*bloc d'entrée mail*/
.connection {
  position: absolute;
  bottom: 16px;   
  right: 32px;    
  z-index: 200;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.mssg_connection {
  position: absolute;
  bottom: 3px;   /* Place en bas du header */
  right: 100%;    /* Décalage à droite */
  z-index: 200;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}




.App-link {
  color: #61dafb;
}



/*message : option de filtrage*/ 
.remarque{
  font-size: 12px;
  color: rgb(128, 115, 98);
}
.remarque-col {
  display: flex;
  align-items: center;
  justify-content: center; }
.close-btn {
  background: transparent;
  border: none;
  font-size:13px;
  color: rgb(128, 115, 98);
  margin-bottom :0;
  cursor: pointer;

}



/*bloc barre de recherche x bouton dédéroulant*/
.search-input,
.dropdown-btn {
  
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f9fafb;
  padding: 0 16px;
  box-sizing: border-box;
  border-radius: 20px;
}
.search-input {
  flex: 1 1 0;
  min-width: 0;
  max-width: 250px;      
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 20px auto 18px auto; 
  
  max-width: 500px;      
  width: 100%;          
}


/*menu déroulant*/
.dropdown-menu {
  position: relative;
  display: block;
}
.dropdown-btn {
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #888; 
  justify-content: space-between;
}

.dropdown-arrow {
  font-size: 18px;
  margin-left: 8px;
  transition: transform 0.2s;
  color: rgb(17, 5, 5);
}

/* Rotation de la big flèche */
.dropdown-menu:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;

  min-width: 200px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 10%;      
  right: unset; 
  margin-left: 0;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 5px 3px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


.body-container{
  position: relative;
  padding: 20px;
  
}
.bas_page{
  text-align: left;
  font-size: 15px;
}
.logo-noms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
  text-decoration: none;
}
.noms{
  text-align: justify;
  text-decoration: none;
}
.noms a {
  color: white;
  text-decoration: none;
}
.logo {
 
  height: auto;
  margin-bottom: 10px;
  margin: 10px;
  background-color: white;

}
