.Header-container {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 75px;
  z-index: 1000;
  background-color: #282c34a8;
  text-align: justify;
  font-weight: 700;
  border-radius: 4px;
  
}

.Header-container > :not(:last-child) {
  margin-right: 10px;
}

.Link {
  font-weight: 400;
  color: white;
  text-decoration: none;
}
